.joystickHolder {
	height: 6rem;
	width: 6rem;
	background-color: #111;
	border-radius: 50%;
	margin: 1rem auto;
}

.joystick {
	height: 5rem;
	width: 5rem;
	background-color: #222;
	border-radius: 50%;
	margin: 1rem auto;
	position: relative;
	top: 0.5rem;
}

.pressed {
	background-color: #999;
}